<!DOCTYPE html>
<html>
<head>
    <title>Quiz Menu - Ear Trainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ear Trainer!</h1>

    <form action="/submit_level_duration" method="post">

        <label for="level">Select Level:</label>
        <select name="level" id="level">
            <option value="e">Easy</option>
            <option value="m">Learn Game</option>
            <option value="h">Hard</option>
            <option value="b">Beethoven</option>
        </select>

        <label for="duration">Select Note Duration:</label>
        <select name="duration" id="duration">
            <option value="1/2">Eighth Note</option>
            <option value="1">Quarter Note</option>
            <option value="2">Half Note</option>
            <option value="4">Whole Note</option>
        </select>

        <button type="submit">Go</button>
    </form>

</body>
</html>
